@{
    ViewBag.Title = "Home Page";
}

<div class="alert alert-primary py-4">
    <div class="container d-flex align-items-center" role="alert">
        <img src="~/Images/logoTruong.png" width=100px height=120px/>
        <div class="d-flex flex-column align-items-center mx-auto">
            <h3>HỆ THỐNG TRẮC NGHIỆM ONLINE</h3>
            <h3>TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT THÀNH PHỐ HỒ CHÍ MINH</h3>
            <h6>Địa chỉ: Số 1 Võ Văn Ngân, quận Thủ Đức, TPHCM - Điện thoại: (84-8) 37221223</h6>
        </div>
    </div>
</div>



